.main-container {
    background-image: url("../../images/background.jpeg");
    background-repeat: no-repeat;
        background-size: cover;
}

.create-activity {
    display:grid;
    align-items: center;

}

.searchbar {
    display: flex;
    align-items: flex-end;
}
.line {
    
    border: 1px solid palevioletred;
    width: 50%;
}
.space-container{
    border: 3px solid palevioletred;
    width:100%;
}
.space-container-footer{
    border: 3px solid palevioletred;
}