
.cardact {
    border: 3px solid gold;
    border-radius: 1rem;
    margin: 1rem;
    width: 14rem;
    padding: 1rem;
    display: inline-grid;
    min-height: 340px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-size: x-small;
    background-color:linen ;
    
}

.subtititle1 {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 800;
 
}

.subtitles {
    text-decoration: underline;
    color: #de8739;

}